# ==============================================================
# CONFIGURAÇÕES DO ENERGY BILL READER (DOCKER)
# ==============================================================


# Caminho interno do Docker para o armazenamento do datalake local
LOCAL_STORAGE=/app/storage

# Caminho interno do Docker para monitoramento de novas contas de energia
#WATCH_DIR=/app/Contas

# Porta do servidor (se aplicável para APIs futuras)
PORT=8080
